@import 'variable';
@import 'mixin';

.add-product{
    flex: 0.5;
    padding: 30px;
    @include flexProp(flex,row);
    @include flex-item(center,center);
    font-size: 18px;
    color: white;
    button{
        @include btn;
        width: 20%;
    }
    button:hover{
        @include hover-zoom;
    }
}