#product-dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    // background-color: red;
    z-index: 10;
    dialog {
        position: fixed;
        top: 12vh;
        left: 20%;
        width: 60%;
        z-index: 100;
        border-radius: 12px;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        overflow: hidden;
        display: flex;
        #image_container{
            @include flexProp(flex,row);
            @include flexSize(1);
            @include flex-item(center,center);
            padding: 10px;
            img{
                width: 100%;
            }
            img:hover{
                @include hover-zoom;
            }
        }
        #detail_comtainer{
            @include flexProp(flex,column);
            @include flexSize(1);
            padding: 15px;
            .cancel{
                @include flexSize(0.1);
                font-size: 25px;
                @include flexProp(flex,row);
                @include flex-item(flex-end,flex-start);
            }
            .product_name{
                @include flexSize(1);
                font-size: 25px;
                margin-bottom: 10px;
            }
            .product_ratting{
                @include flexSize(1);
                .checked{
                    color: orange;
                }
            }
            .product_currency{
                @include flexSize(1);
                font-size: 18px;
            }
            .product_desciption{
                @extend .product_currency;
            }
            .product_price{
                @extend .product_currency;
                color: $btn-main;
            }
            menu {
                @include spacing(20px,0);
                display: flex;
                gap: 20px;
                justify-content: flex-end;
                margin-right: 1%;
                button{
                    @include button;
                    padding: 12px;
                    font-size: 13px;
                }
                button:hover{
                    @include hover-color;
                }
                
            }
        }

    }
}
input:focus {
    background-color: #f0e6fd;
    outline: none;
    border-color: var(--main-color-light);
}