#stor-item-comtainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;

    dialog {
        position: fixed;
        top: 5vh;
        left: 20%;
        width: 60%;
        z-index: 100;
        border-radius: 12px;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        overflow: hidden;
        @include flexProp (flex,column);
        padding: 15px;
        background-color: $body_background;
        header{
            @include flexProp (flex,row);
            justify-content: flex-start;
            justify-content: space-between;
            font-size: 15px;
            padding: 0 10px 0 10px;
            margin-bottom: 10px;
            // color: $btn-main;
            #action{
                margin-right: 3%;
            }

        }
        .scroll {
            display: flex;
            width: 100%;
            height: 70vh;
            overflow: auto;
            padding: 5px;
            #item-container{
                width: 100%;
                .item_cart{
                    background-color:$font-color-w;
                    @include box-shadow;
                    @include flexProp (flex,row);
                    padding: 5px;
                    border-radius: 12px;
                    margin-top: 10px;
                    .item_cart_left{
                        @include flexProp (flex,row);
                        @include flex-item (flex-start,center);
                        @include flexSize(1);
                        
                        img {
                            width: 40px;
                            margin-left: 15px;
                        }
                        img:hover{
                            @include hover-zoom;
                        }
                        h2{
                            margin-left: 30%;
                            font-size: 14px;
                        }
                    }
                    .item_cart_center{
                        @include flexProp (flex,row);
                        @include flex-item (space-around,center);  
                        @include flexSize(1);
                        span{
                            margin-right: 20%;
                        }
                    }
                    .item_cart_right{
                        @include flexProp (flex,row);
                        @include flexSize(0.8);
                        @include flex-item (space-around,center);  
                    }
                    menu{
                        @include flexProp (flex,row);
                        @include flex-item (space-around,center);  
                        @include flexSize(0.5);
                        gap: 15px;
                        padding: 5px;
                        button{
                            @include button;
                            background-color: $btn-main;
                            padding: 6px;
                            font-size: 15px;
                            color: white;
                            flex: 1;
                            input{
                                width: 30px;
                                border: none;
                                border-radius: 10px;
                                padding: 2px;
                            }
                        }
                        button:hover{
                            @include hover-color;
                        }
                    }
                }
                .undefind-cart{
                    @include flexProp(flex,row);
                    @include flex-item (center,center);
                    height: 70vh;
                    color: rgb(126, 123, 123);
                }
            }
        }
        menu{
            margin-top: 5px;
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            button{
                @include button;
                background-color: $btn-main;
                padding: 8px;
                width: 10%;
                font-size: 15px;
                color: white;
            }
            button:hover{
                @include hover-color;
            }
        }
    }
}