$btn_main:rgba(247, 68, 78, 1);
$card_main:rgba(0, 44, 62, 1);
$btn_secondary:rgb(255, 255, 255);
$body_background: #cbd6ec;
$footer_background:white;
$fomr_color:white;
$border-radius:12px;
$font-color-b:rgb(24, 24, 24);
$font-color-w:rgb(234, 234, 234);
$hover:rgba(32, 122, 254, 1);
$font-style:'Montserrat', sans-serif;
$font-size-small:13px;
$font-size-meduim:15px;
$font-size-big:18px;
$search-size:10px;
$margin-left:7%;
$margin-right:7%;








