@import 'components/mixin';
@import 'components/variable';

* {
    @include spacing(0, 0);
}
body {
    @include body(370vh);
    // --------responsive-------
    @include responsiveSize(big) {
        height: 170vh;
    }
    @include responsiveSize(small) {
        height:100vh;
    }
}
@import 'components/nav';
#nav-home{
    border-bottom: 2px solid $btn-main;
}
main {
    @include flexProp(flex,column);
    @include flexSize(1);
    margin-top: 6%  ;
    .more-product{
        @include flexProp (flex,column);
        @include flex-item (center,center);
        margin: 15px;
        button{
            @include button;
            padding: 15px;
            color: white;
        }
        button:hover{
            @include hover-color;
        }
    }
   
    .product-container .product-title{
        @include flex-item (center,center);
    }
    
}
@import 'components/banner';
@import 'components/service';
@import 'components/product-card';
@import 'components/detail';
@import 'components/credit_card';
@import 'components/footer';
